.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header New Task
      -# frozen_string_literal: true
      = simple_form_for [@music_session, @task] do |f|
        .card-body
          = f.input :title, wrapper_html: { class: 'mb-3' }
          = f.input :description, wrapper_html: { class: 'mb-3' }
          = f.input :reward, wrapper_html: { class: 'mb-3' }
          = f.input :practice_time, wrapper_html: { class: 'mb-3' }
          = f.input :record_time, wrapper_html: { class: 'mb-3' }
        .card-footer.d-flex
          %button.btn.btn-primary{ type: 'submit' }
            Save
          = link_to 'Back', music_session_path(@music_session), class: 'btn btn-link ms-auto'

          
