-# frozen_string_literal: true
= simple_form_for(@student) do |f|
  .card-body
    = f.input :forename, wrapper_html: { class: 'mb-3' }
    = f.input :surname, wrapper_html: { class: 'mb-3' }
    = f.input :email, wrapper_html: { class: 'mb-3' }
    = f.input :password, wrapper_html: { class: 'mb-3' }
    = f.simple_fields_for :instruments do |instrument_form|
      = instrument_form.input :instrument, wrapper_html: { class: 'mb-3' }
  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', students_path, class: 'btn btn-link ms-auto'
    
