.card
  .card-header.d-flex.align-items-center
    %span Listing Students: 
    %span  (#{@students.size} total.)
    = link_to 'New Student', new_student_path, class: 'btn btn-outline-secondary ms-auto'
  
  %table.table
    %thead
      %tr
        %th Forename
        %th Surname
        %th Email
        %th
    %tbody
      - @students.each do |student|
        %tr
          %td= student.forename
          %td= student.surname
          %td= student.email
          %td
            .btn-toolbar.float-end
              = link_to 'Show', student, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Modify', edit_student_path(student), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = button_to 'Delete', student , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'