.card
  .card-header.d-flex.align-items-center
    %span Listing Tutors: 
    %span  (#{@tutors.size} total.)
    = link_to 'New Tutor', new_tutor_path, class: 'btn btn-outline-secondary ms-auto'
  
  %table.table
    %thead
      %tr
        %th Forename
        %th Surname
        %th Email
        %th Admin
        %th
    %tbody
      - @tutors.each do |tutor|
        %tr
          %td= tutor.forename
          %td= tutor.surname
          %td= tutor.email
          %td= tutor.admin ? 'Yes' : 'No'
          %td
            .btn-toolbar.float-end
              = link_to 'Show', tutor, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Modify', edit_tutor_path(tutor), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = button_to 'Delete', tutor , method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'